.large-9.columns(role='content')
  article
    h3
      a(href='#') #{article.title}
    | !{article.content}
    | 
    br
    | 
    h6
      span.secondary.label #{article.meta.createDate}
      | 
      - for tag in article.tags
        a(href='#{blog_host}t/#{tag}')
          span.label #{tag}
        | 
      span.success.label #{article.pv} ℃
    hr
