.large-9.columns(role='content')
  article
  - for article in articles
    h3
      a(href='#{blog_host}p/#{article.meta.timeStamp}') #{article.title}
    p
      | !{article.content}
    h6
      span.secondary.label  #{article.meta.createDate}
      | 
      - for tag in article.tags
        a(href='#{blog_host}t/#{tag}')
          span.label #{tag}
        | 
      span.success.label #{article.pv} ℃
    hr
