.large-9.push-3.columns(role='content')
  | 文章归档
  <hr />
  article
  - for article in articles
    h6
      span.secondary.label  #{article.meta.createDate}
      | 
      a(href='#{blog_host}p/#{article.meta.timeStamp}') #{article.title}
      | 
      .right
        a.button.tiny.success(href='#{blog_host}admin/edit/p/#{article.meta.timeStamp}') 编辑
        a.button.tiny.info(href='#{blog_host}admin/remove/p/#{article.meta.timeStamp}') 删除
    hr
